
.text {
  ul {
    list-style-position: outside;
    margin-left: 0;
    text-align: left;
    font-weight: 300;
  }

  li {
    position: relative;
    margin-left: $inuit-base-spacing-unit;
  }

  ol {
    text-align: left;
    font-weight: 300;
  }
}
