.mobile-nav {
  li {
    display: block;
    width: 100%;
  }

  a {
    color: white;
    font-size: 16px;
    line-height: 2em;
    font-weight: 300;

    display: block;
    padding: 0 $inuit-base-spacing-unit / 2;
    background-color: $brand-color;

    border-left: 10px solid $brand-color;

    &:hover {
      text-decoration: none;   
    }

    &:active {
      background-color: white;
      color: $brand-color;
    }

    &.active {
      border-left-color: $brand-color;
    }
  }

  .dropdown__toggle {
    position: relative;
  }

  .dropdown__icon {
    display: block;
    position: absolute;
    top: 50%;
    right: $inuit-base-spacing-unit / 2;
    margin-top: -8px;
  }

  ul > li > a {
    display: block;
    background-color: darken($brand-color, 10%);
    border-left-color: darken($brand-color, 10%);

    &.active {
      border-left-color: darken($brand-color, 20%);
    }
  }
}

.mobile-nav-toggle {
  font-size: 12px;
  display: block;
  position: absolute;
  right: 0;
  top:0;
  z-index: 1000;
}

@include media-query(lap-and-up) {
  .mobile-nav-toggle {
    display: none;
  }

  .mobile-nav-container {
    display: none!important;
  }
}
