
.circular {
  position: relative;
  margin-bottom: $inuit-base-spacing-unit * 2;

  text-align: center;
}

.circular__img {
  width: 100%;
  overflow: hidden;

  border: 10px solid white;
  @include vendor(border-radius, 50%);
}

.circular__content {
  position: relative;

  width: 100%;
  background-color: #eee;

  border: 10px solid white;
  @include vendor(border-radius, 50%);

  &:before {
    content: "";
    display: block;
    padding-top: 100%;
  }
}

.circular__title {
  font-size: 20px;
  line-height: 1.1em;

  position: absolute;
  left: 0px;
  bottom: -40px;

  display: table;
  width: 125px;
  height: 125px;
  background-color: $brand-color;

  color: white;
  font-size: 14px;
  font-weight: 300;

  border: 5px solid white;
  @include vendor(border-radius, 50%); 
}

.circular__title__inner {
  display: table-cell;
  vertical-align: middle;
}

.circular__content__inner {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.circular__content__inner__container {
  display: table;
  width: 100%;
  height: 100%;
}

.circular__content__inner_middle {
  display: table-cell;
  vertical-align: middle;
}

.circular--text {
  .circular__title {
    left: 0px;
  }

  h1 {
    font-size: 18px;
    margin-bottom: 0;
  }

  em {
    font-size: 14px;
  }
}