
.block {
  position: relative;
  margin-bottom: $inuit-base-spacing-unit;
}

.block__title {
  font-size: 20px;
  line-height: 1.1em;
}

.blocks--round {
  .block__img {
    width: 100%;
    overflow: hidden;

    border: 10px solid white;
    @include vendor(border-radius, 50%);
  }

  .block__title {
    position: absolute;
    left: 20px;
    bottom: -20px;

    display: table;
    width: 125px;
    height: 125px;
    background-color: $brand-color;

    color: white;
    font-size: 14px;
    font-weight: 300;

    border: 5px solid white;
    @include vendor(border-radius, 50%); 
  }

  .block__title__inner {
    display: table-cell;
    vertical-align: middle;
  }
}





/*
@include media-query(desk) {
  .blocks-services {
    @include vendor(column-count, 2);
  }
}
*/