
.site-nav {
  display: none;
  font-size: 14px;
  line-height: 28px;

  > li {
    position: relative;

    > a {
      color: #000;
      font-family: $heading-font-family;
      text-transform: uppercase;
      font-weight: 400;
      text-align: center;
      border-bottom: 3px solid transparent;

      &.active {
        text-decoration: none;
        border-bottom: 3px solid $brand-color;
      }

      &:hover {
        text-decoration: none;
        color: $brand-color;
      }
    }
  }

  ul {
    position: absolute;
    top: 30px;
    left: -25%;

    // arrow
    // &:after {
    //   content: "";
    //   position: absolute;
    //   right: 48%;
    //   top: -7px;
    //   border-left: 0.5em solid transparent;
    //   border-bottom: .5em solid $brand-color;
    //   border-bottom: .5em solid rgba($brand-color, .7);
    //   border-right: 0.5em solid transparent;
    // }

    > li {
      > a {
        background-color: $brand-color;
        background-color: rgba($brand-color, .7);
        padding: .67em 1.5em .67em;
        color: white;
        text-align: center;
        white-space: nowrap;
        margin-bottom: 1px;

        &:hover {
          background-color: $brand-color;
          text-decoration: none;
        }
      }
    }
  }
}

.site-nav--left, .site-nav--right {
  margin-top: 68px;
}

.site-nav--left {  
  float: left; 

  > li {
    margin-right: 40px;
  }
}
.site-nav--right {  
  float: right; 

  > li {
    margin-left: 20px;
  }
}

@include media-query(lap) {
  .site-nav {
    font-size: 12px;
  }
}


@include media-query(lap-and-up) {
  .site-nav {
    display: block;
  }
}