
.accordeon {
  font-weight: lighter;

  > .dropdown {
    margin-bottom: 1px;
  }

  .dropdown__toggle {
    position: relative;
    cursor: pointer;
  }

  .dropdown__icon {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    margin-top: -8px;
  }

  .fa-stack {
    margin-top: -16px;
    right: 11px;

    .fa-circle {
      color: $lila-light;
    }
  }

  .layout__item {
    margin-bottom: $inuit-base-spacing-unit/2;
  }

  .btn.float--right {
    margin-left: $inuit-base-spacing-unit;
    margin-bottom: $inuit-base-spacing-unit;
  }
}

.accordeon__item {
  font-size: 18px;
  padding: 10px 16px;

  color: white;
  background-color: $brand-color;

  em {
    font-size: 15px;
    color: rgba(white, .6);
    font-family: $base-font-family;
    font-style: normal;
  }

  &:hover {
    .dropdown__icon {
      color: white;
    }
  }
}

.dropdown__menu .accordeon__item {
  background-color: $lila-light;
  color: rgba(white, .8);
  font-size: 15px;

  em {
    font-style: italic;
    font-size: 14px;
  }
}

.dropdown__menu > .dropdown:nth-child(odd) > .accordeon__item {
  background-color: rgba($lila-light, .9);
}

.dropdown__menu .dropdown__menu .accordeon__item {
  background-color: rgba($lila-light, .8);
  color: rgba(white, .8);
  font-size: 14px;
}

.dropdown__content {
  padding: 10px 16px;
  font-size: 15px;
  background-color: #f2f2f2;

  &.text {
    font-size: 18px;
    padding: $inuit-base-spacing-unit;

    p:first-of-type {
      margin-top: 0;
    }

    p:last-child {
      margin-bottom: 0;
    }
  }
}