

$color-brand:       $brand-color;
$color-gray:        #444;
$color-gray-light:  #999;





// Page
$inuit-base-text-color:         $color-gray;
$inuit-base-background-color:   #fff;





// Links
$color-links:           $brand-color;





// Buttons
$color-btn:     $color-links;





// Iconic
$color-iconic:  $color-gray;





// Page head
$color-page-head:               #fff;
$color-page-head-background:    #eee;





// Site nav
$color-site-nav:    $inuit-base-text-color;





// Page foot
$color-page-foot:               #fff;





// Headings
$color-headings:    $color-brand;



