
/**
 * Tell inuit.css when breakpoints start.
 */
$lap-start:         768px;
$desk-start:        1024px;
$desk-wide-start:   1200px;

$inuit-base-font-size:    18px;
$inuit-base-line-height:  26px;

$base-font-family:        'Open Sans', sans-serif;
$heading-font-family:     'Open Sans', sans-serif;

$inuit-heading-size-1:          40px;
$inuit-heading-size-2:          20px;
$inuit-heading-size-3:          16px;
$inuit-heading-size-4:          14px;
$inuit-heading-size-5:          14px;
$inuit-heading-size-6:          14px;