
$lila: #931b80;
$lila-dark: #78448a;
$lila-light: #a94999;

$brand-color: $lila;
$brand-color-alt: $lila-dark;

$text-color: #666;
$light-text-color: #777;
$inactive-text-color: #bbb;
$background-color: #555;
$negative-color: #a2433d;
$positive-color: #9dca51;